<footer class="bg-light text-center text-lg-start mt-5">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">{{ projectName }}</h5>
        <p>Transformando números em oportunidades.</p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="about" class="text-dark">Sobre</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Redes Sociais</h5>
        <ul class="list-unstyled">
          <li>
            <a
              href="https://www.linkedin.com/in/kayky-matos-santana-0911991a6/"
              target="_blank"
              class="text-dark"
              ><img
                src="https://img.icons8.com/fluency/35/linkedin-circled.png"
                alt="Linkedin"
              />Linkedin</a
            >
          </li>
          <li>
            <a
              href="https://github.com/kaykymatos"
              target="_blank"
              class="text-dark"
              ><img
                src="https://img.icons8.com/fluency/35/github.png"
                alt="Github"
              />Github</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
