<div class="row mt-4">
  <div class="col-md-12">
    <h2>Objetivo do Projeto</h2>
    <p>
      O <strong>{{ projectName }}</strong> é um projeto simples, desenvolvido
      para facilitar os cálculos relacionados a investimentos. Ele permite que
      qualquer usuário, independentemente de seu nível de experiência, insira
      parâmetros como valor inicial, aporte mensal, taxa de juros e duração para
      simular o crescimento de seus investimentos.
    </p>
    <p>
      Com uma interface amigável e intuitiva, o simulador possibilita visualizar
      a evolução do investimento ao longo do tempo. O usuário pode entender
      rapidamente como diferentes variáveis impactam o montante final, tornando
      a simulação acessível e prática.
    </p>
    <p>
      A ideia é proporcionar uma ferramenta que ajude o usuário a explorar
      cenários de investimento e a tomar decisões mais informadas sobre seu
      futuro financeiro. O Simulador de Investimentos é uma solução rápida para
      quem deseja calcular e visualizar resultados sem complicações.
    </p>
  </div>
</div>
